:root {
  font-size: 16px/1 em;
  font-family: 'Sofia Pro', sans-serif;
  --sea: rgb(8, 175, 175);
  --sky: #ddf2f3;
  --earthy: #d3d3d3;
  --asphalt: 090909;
}
body {
  background-color: var(--sky);
}
/* !top holds the title and nav */
top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas:
    'header'
    '. nav .';
}
nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
  width: 100%;
  background-color: var(--sea);
  color: var(--sky);
}
main {
  display: flex;
  justify-content: right;
  flex-flow: column wrap;
}

container {
  display: flex;

  /* max-width: 1960px; */
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: var(--sky);
  justify-items: center;
  /* text-decoration: none; */
}
nav.a:hover {
  text-decoration: none;
}
sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color: var(--sky);
  color: var(--asphalt);
  padding: 5px;
  border: 2rem solid var(--asphalt);
  /* can't get border to work */
}
img {
  border: 2rem solid var(--asphalt);
  display: block;
  padding: 1rem;
}
h1 {
  text-align: center;
  font-size: 4rem;
}
#hl {
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  display: flex;
  justify-items: auto;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--earthy);
  color: var(--asphalt);
  padding: 20px;
}
p {
  font-size: 1rem;
  color: var(--asphalt);
}
footer {
  display: flex;
}
footer a {
  text-decoration: none;
  color: var(--asphalt);
  display: block;
}
footer.a:hover {
  display: block;
  border-color: var(--asphalt);
  border-radius: 1px;
  color: var(--sky);
}
