:root {
  font-size: 16px/1 em;
  font-family: 'Sofia Pro', sans-serif;
  --sea: #08afaf;
  --sky: #ddf2f3;
  --earthy: #d3d3d3;
  --asphalt: 090909;
  --sun: #d5562b;
}
body {
  background-color: var(--sky);
  margin: 0;
}
/* !top holds the title and nav */
top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas:
    'header'
    '. nav .';
}
nav {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--sea);
  color: var(--sky);
}
main {
  display: flex;
  justify-content: right;
  flex-flow: column wrap;
  margin: 1rem;
}

container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

nav a {
  padding: 0.5rem;
  color: var(--sky);
  /* justify-items: center; */

  /* text-decoration: none; */
}
nav a:hover {
  padding: 0.5rem;
  text-decoration: none;
}
sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2rem;
  background-color: var(--sky);
  color: var(--asphalt);
  padding: 1px;
}
#sb-area {
  border: 0.2rem solid turquoise;
  border-radius: 0.5rem;
}
sidebar img {
  /* border-radius: 0.5rem;  <-- why? */
  padding: 0.3rem;
}
h1 {
  text-align: center;
  font-size: 4rem;
}
#hl {
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  display: flex;
  justify-items: auto;
}
h3 {
  display: flex;
  justify-items: auto;
  padding: 0 0 0 1rem;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--earthy);
  color: var(--asphalt);
  padding: 20px;
}
p {
  font-size: 1rem;
  color: var(--asphalt);
}
footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}
footer a {
  display: flex;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--asphalt);
}
footer a:hover {
  display: flex;
  margin: 0 5px;
  border: 0.1rem solid black;
  /* border-radius: 1px; */
  color: var(--sun);
}
hamburger {
  visibility: hidden;
}

/* @import css '/hamburger-menu.css'; */
/* !hamburger-menu.css */
@media screen and (max-width: 440px) {
  top {
    background: url('src/kitteh-texttastic.png') center no-repeat;
    background-size: cover;
  }
  nav {
    visibility: hidden;
  }

  container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  sidebar {
    display: visible;
    margin: 0.5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    /* width: 4rem; */
    margin: 0.5rem;
  }
  p {
    font-size: 0.8rem;
    width: auto;
  }
  h1 {
    visibility: hidden;
  }
  h2 {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.5rem;
  }
  #hamburger-menu {
    display: inline;
  }
  body {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    min-height: 200vh;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
    background: black;
    z-index: -1;
  }

  #main-menu {
    display: block;
    height: 100px;
    width: 100%;
    background: var(--asphalt);
    margin: 0px;
    z-index: 9;
  }

  #main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
  }

  #main-menu li {
    list-style-type: none;
    font-size: 2rem;
  }

  #main-menu a {
    color: #b9faf8;
    font-size: 1.5rem;
    text-decoration: none;
  }

  #main-menu a:hover {
    text-decoration: underline;
  }

  #hamburger-input {
    display: none;
  }

  #hamburger-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 30px;
    display: block;
    border: none;
    background: transparent;
    padding: 0px;
    margin: 20px;
    background: linear-gradient(
      to bottom,
      #984b10,
      #984b10 20%,
      var(--sky) 20%,
      var(--sky) 40%,
      #984b10 40%,
      #984b10 60%,
      var(--sky) 60%,
      var(--sky) 80%,
      #984b10 80%,
      #984b10 100%
    );
  }

  #hamburger-menu #slide-menu {
    visibility: hidden;
    position: fixed;
    transition: 0.3s ease-in-out;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #3d0e61;
    padding: 0px 10px;
    box-sizing: border-box;
  }

  #hamburger-menu h3 {
    color: #b9faf8;
    font-size: 2.2rem;
  }

  #hamburger-menu ul {
    padding-left: 0px;
  }

  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }

  #hamburger-menu a {
    color: #b9faf8;
    font-size: 1.3rem;
    text-decoration: none;
  }

  #hamburger-menu a:hover {
    text-decoration: underline;
  }

  #hamburger-input:checked + #hamburger-menu #slide-menu {
    visibility: visible;
    left: 0;
  }
  #hamburger-input:checked ~ .overlay {
    visibility: visible;
    opacity: 0.4;
  }
}
