:root {
  font-size: 16px/1 em;
  font-family: 'Sofia Pro', sans-serif;
  --sea: #08afaf;
  --sky: #ddf2f3;
  --earthy: #d3d3d3;
  --asphalt: 090909;
  --sun: #d5562b;
}
body {
  background-color: var(--sky);
  margin: 0;
}
/* !top holds the title and nav */
top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas:
    'header'
    '. nav .';
}
nav {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--sea);
  color: var(--sky);
}
main {
  display: flex;
  justify-content: right;
  flex-flow: column wrap;
  margin: 1rem;
}

container {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
}

nav a {
  padding: 0.5rem;
  color: var(--sky);
  /* justify-items: center; */

  /* text-decoration: none; */
}
nav a:hover {
  padding: 0.5rem;
  text-decoration: none;
}
sidebar {
  display: flex;
  flex-direction: column;

  align-items: left;
  margin: 2rem;
  background-color: var(--sky);
  color: var(--asphalt);
  padding: 1px;
}
#sb-area {
  border: 0.2rem solid turquoise;
  border-radius: 0.5rem;
}
sidebar img {
  /* border-radius: 0.5rem;  <-- why? */
  padding: 0.3rem;
}
h1 {
  text-align: center;
  font-size: 4rem;
}
#hl {
  font-family: 'Times New Roman', Times, serif;
}
h2 {
  display: flex;
  justify-items: auto;
}
h3 {
  display: flex;
  justify-items: auto;
  padding: 0 0 0 1rem;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--earthy);
  color: var(--asphalt);
  padding: 20px;
}
p {
  font-size: 1rem;
  color: var(--asphalt);
}
footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}
footer a {
  display: flex;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--asphalt);
}
footer a:hover {
  display: flex;
  margin: 0 5px;
  border: 0.1rem solid black;
  /* border-radius: 1px; */
  color: var(--sun);
}
hamburger {
  display: none;
}
@import /hamburger-menu.css;
/* !hamburger-menu.css */
@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}
